name: template_mlops_e2e
run-name: ${{ github.actor }} 
on: [push]
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.13]

    steps:
    # Setup Python version
    - uses: actions/checkout@v5

    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    # Install create venv & install dependencies
    - name: Install uv and create venv
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv venv -p ${{ matrix.python-version }} .venv
        source .venv/bin/activate
        uv sync --active
    
    - name: Test with pytest
      run: |
        source .venv/bin/activate
        coverage run -m pytest 